# виртуалка
.venv/
venv/
env/
ENV/

# pyinstaller / nuitka / build артефакты
build/
dist/
*.spec

# байт-код
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# тестовые/временные файлы
*.log
*.tmp
*.bak
~$*.xlsx
